$font-stack: 'Roboto', sans-serif;

$primaryHeading: #2c8cb3;
$primaryText: black;
$primary-opacity: rgb(219,231,242,.8);
$primaryColor:#f5faff;
$current: #59e6ff;
$primary-hover:#9fd6e0;
$primaryGlow: #feee00;
$primaryGlow2: #ff59db;